<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FoodFun</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
    />
    <link rel="stylesheet" href="styles/style.css" />
  </head>
  <body>
    <nav>
      <div class="navbar">
        <div class="logo">
          <img src="/images/Logo.png" class="img-logo" alt="logo" />
        </div>
        <div class="menu">
          <ul class="menu-list">
            <li class="items"><a href="/home">Home</a></li>
            <li class="items">
              <select name="Categories" id="select">
                <option value="categories">Categories</option>
                <option value="name">Name</option>
                <option value="id">ID</option>
                <option value="region">Region</option>
              </select>
            </li>
            <li class="items"><a href="/about">About</a></li>
            <li class="items"><a href="/contact">Contact</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </body>
</html>
