<%- include("partials/header.ejs") %>

<body>
  <div class="container">
    <div class="img-background">
      <div class="hero-text">
        <h1>
          "Wholesome recipes, vibrant flavors, cooking made fun and easy."
        </h1>
      </div>
      <div class="search">
        <input type="text" class="input" placeholder="Search the recipe" />
        <button class="btn" formaction="/search">
          <i class="fa-solid fa-magnifying-glass"></i>
        </button>
      </div>
    </div>
  </div>
</body>
